<%# 商品の概要 %>
<div class="donation-show">
  <div class="donation-box">
    <h2 class="name">
      <%= @donation.name %>
    </h2>
   <div class="donation-img-content"> 
      <%= image_tag @donation.image ,class:"donation-box-img" %>
       <% if @donation.receive.present? %> 
      <div class="out"> 
        <span>あげちゃった!!</span> 
      </div> 
       <% end %>
 
    <% if user_signed_in? && @donation.receive.nil? %>
    <% if current_user.id == @donation.user.id %>
    <%= link_to "商品の編集", edit_donation_path(@donation.id), method: :get, class: "donation-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", donation_path(@donation.id), method: :delete, class:"donation-destroy" %>
   <% else %>

    <%= link_to "『いただきます』", donation_receives_path(@donation.id) ,class:"donation-green-btn"%>

    <% end %> 
   <% end %> 
 

    <div class="donation-explain-box">
      <span><%= @donation.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-donation">出品者</th>
          <td class="detail-value"><%= @donation.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-donation">カテゴリー</th>
          <td class="detail-value"><%= @donation.category.name %></td>
        </tr>
        <tr>
          <th class="detail-donation">商品の状態</th>
          <td class="detail-value"><%= @donation.condition.name %></td>
        </tr>
        <tr>
          <th class="detail-donation">配送料の負担</th>
          <td class="detail-value"><%= @donation.delivery.name %></td>
        </tr>
          <tr>
          <th class="detail-donation">着払い料金</th>
          <td class="detail-value"><%= @donation.size.name %></td>
        </tr>
        <tr>
          <th class="detail-donation">発送元の地域</th>
          <td class="detail-value"><%= @donation.region.name %></td>
        </tr>
        <tr>
          <th class="detail-donation">発送日の目安</th>
          <td class="detail-value"><%= @donation.ship.name %></td>
        </tr>
      </tbody>
    </table>

    <div class="favorite-btn">
     <% if @donation.favorited?(current_user) %>
    <%# # 一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ %>
    <%= link_to donation_favorites_path(@donation.id), method: :delete do %>
        <span style="color:red;">❤︎❤︎❤︎いいね</span>
    <% end %>
<% else %>
    <%# # 一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ %>
    <%= link_to donation_favorites_path(@donation.id), method: :post do %>
        <span>❤︎いいね</span>
    <% end %>
<% end %>
</div>


  <div class="donation__comments">
      <% if user_signed_in? %>
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
          <%= form_with model: [@donation, @comment],local: true do |f|%>
            <div class="field">
          <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
        <% end %>
         <% end %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <li class="comments_list">
            <%= comment.content %>
      <strong><%= link_to "(#{comment.user.nickname})さん", "/users/#{comment.user.id}", class: :comment_user %></strong>
            </li>
             <% end %>
        </ul>
      </div>
    </div>